Wrangling input data for use in ML Pipeline

In [1]:
import pandas as pd

In [2]:
# import df's
base = pd.read_csv('Procrustes_base.csv')
tips = pd.read_csv('Procrustes_tips.csv')

In [3]:
# observe geneal structure of data
base.head()

,base_vine,vine,year,vine_year,species,from_tip,from_base,count,tip_vine,PC1,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,1583,2013,1583x2013,Vitis_acerifolia,8,10,17,8x1583,-0.873498,...,-773.417167,530.360659,-1338.595312,-296.648911,-788.502868,-421.580330,-878.484789,-733.599371,-608.863391,-1612.438872
1,10x237621,237621,2013,237621x2013,Vitis_aestivalis,6,10,15,6x237621,0.542626,...,-725.211055,343.277655,-1028.649169,-398.067197,-729.232075,-398.355997,-911.901514,-677.709890,-1157.567630,-1652.086177
2,10x313922,313922,2013,313922x2013,Vitis_riparia,2,10,11,2x313922,1.274040,...,-589.139358,331.309077,-1035.774029,-448.443256,-715.676977,-300.604021,-865.491969,-611.708338,-1379.906517,-1614.081403
3,10x318684,318684,2013,318684x2013,Vitis_acerifolia,2,10,11,2x318684,0.634560,...,-717.318142,274.452196,-1178.749422,-518.663464,-794.905709,-317.480363,-897.419201,-587.381767,-1143.685860,-1598.494304
4,10x483138,483138,2013,483138x2013,Vitis_aestivalis,4,10,13,4x483138,-0.716141,...,-665.639109,478.490939,-1140.663125,-310.663543,-593.900401,-346.297023,-873.354059,-561.588170,-930.520913,-1909.580628

In [4]:
tips.head()

,tip_vine,vine,year,vine_year,species,from_tip,from_base,count,base_vine,PC1,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,1583,2013,1583x2013,Vitis_acerifolia,10,8,17,8x1583,0.834513,...,-740.348327,491.431551,-1184.429944,-422.381192,-450.863223,-349.951396,-804.028509,-696.881267,-680.636268,-1481.073793
1,10x237621,237621,2013,237621x2013,Vitis_aestivalis,10,6,15,6x237621,0.300924,...,-590.009595,549.499758,-1083.626071,-347.969251,-652.867385,-330.876278,-953.816805,-623.349414,-804.172437,-1636.908782
2,10x313922,313922,2013,313922x2013,Vitis_riparia,10,2,11,2x313922,-1.256717,...,-754.952214,67.117755,-907.840317,-370.003450,-406.661820,-375.594704,-882.403842,-579.516907,-1200.748501,-1268.151490
3,10x318684,318684,2013,318684x2013,Vitis_acerifolia,10,2,11,2x318684,-1.041729,...,-606.252556,340.093733,-893.319459,-103.861178,-511.703252,-348.144917,-916.420517,-704.653492,-1112.899238,-1378.834754
4,10x483138,483138,2013,483138x2013,Vitis_aestivalis,10,4,13,4x483138,0.091561,...,-622.976929,513.871339,-1241.950482,-123.720425,-40.123246,-191.404554,-678.779259,-795.380769,-942.817307,-1658.064377

In [5]:
# observe what columns are contained in df 
print('Procrustes_base.csv column names are: {}'.format(list(base.columns)))

Procrustes_base.csv column names are: ['base_vine', 'vine', 'year', 'vine_year', 'species', 'from_tip', 'from_base', 'count', 'tip_vine', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10', 'PC11', 'PC12', 'PC13', 'PC14', 'PC15', 'PC16', 'PC17', 'PC18', 'PC19', 'PC20', 'PC21', 'PC22', 'PC23', 'PC24', 'PC25', 'PC26', 'PC27', 'PC28', 'PC29', 'PC30', 'PC31', 'PC32', 'PC33', 'PC34', 'PC35', 'PC36', 'PC37', 'PC38', 'PC39', 'PC40', 'PC41', 'PC42', 'x1', 'y1', 'x2', 'y2', 'x3', 'y3', 'x4', 'y4', 'x5', 'y5', 'x6', 'y6', 'x7', 'y7', 'x8', 'y8', 'x9', 'y9', 'x10', 'y10', 'x11', 'y11', 'x12', 'y12', 'x13', 'y13', 'x14', 'y14', 'x15', 'y15', 'x16', 'y16', 'x17', 'y17', 'x18', 'y18', 'x19', 'y19', 'x20', 'y20', 'x21', 'y21']

In [6]:
print('Procrustes_tips.csv column names are: {}'.format(list(tips.columns)))

Procrustes_tips.csv column names are: ['tip_vine', 'vine', 'year', 'vine_year', 'species', 'from_tip', 'from_base', 'count', 'base_vine', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10', 'PC11', 'PC12', 'PC13', 'PC14', 'PC15', 'PC16', 'PC17', 'PC18', 'PC19', 'PC20', 'PC21', 'PC22', 'PC23', 'PC24', 'PC25', 'PC26', 'PC27', 'PC28', 'PC29', 'PC30', 'PC31', 'PC32', 'PC33', 'PC34', 'PC35', 'PC36', 'PC37', 'PC38', 'PC39', 'PC40', 'PC41', 'PC42', 'x1', 'y1', 'x2', 'y2', 'x3', 'y3', 'x4', 'y4', 'x5', 'y5', 'x6', 'y6', 'x7', 'y7', 'x8', 'y8', 'x9', 'y9', 'x10', 'y10', 'x11', 'y11', 'x12', 'y12', 'x13', 'y13', 'x14', 'y14', 'x15', 'y15', 'x16', 'y16', 'x17', 'y17', 'x18', 'y18', 'x19', 'y19', 'x20', 'y20', 'x21', 'y21']

In [7]:
# get rid of columns with data irrelevant to ML 
for col in list(base.columns):
    if 'PC' in col:
        base.drop(labels=col,axis=1,inplace=True)
        
for col in list(tips.columns):
    if 'PC' in col:
        tips.drop(labels=col,axis=1,inplace=True)

In [8]:
base.head()

,base_vine,vine,year,vine_year,species,from_tip,from_base,count,tip_vine,x1,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,1583,2013,1583x2013,Vitis_acerifolia,8,10,17,8x1583,579.014742,...,-773.417167,530.360659,-1338.595312,-296.648911,-788.502868,-421.580330,-878.484789,-733.599371,-608.863391,-1612.438872
1,10x237621,237621,2013,237621x2013,Vitis_aestivalis,6,10,15,6x237621,622.384266,...,-725.211055,343.277655,-1028.649169,-398.067197,-729.232075,-398.355997,-911.901514,-677.709890,-1157.567630,-1652.086177
2,10x313922,313922,2013,313922x2013,Vitis_riparia,2,10,11,2x313922,584.824913,...,-589.139358,331.309077,-1035.774029,-448.443256,-715.676977,-300.604021,-865.491969,-611.708338,-1379.906517,-1614.081403
3,10x318684,318684,2013,318684x2013,Vitis_acerifolia,2,10,11,2x318684,585.609852,...,-717.318142,274.452196,-1178.749422,-518.663464,-794.905709,-317.480363,-897.419201,-587.381767,-1143.685860,-1598.494304
4,10x483138,483138,2013,483138x2013,Vitis_aestivalis,4,10,13,4x483138,530.039098,...,-665.639109,478.490939,-1140.663125,-310.663543,-593.900401,-346.297023,-873.354059,-561.588170,-930.520913,-1909.580628

In [9]:
tips.head()

,tip_vine,vine,year,vine_year,species,from_tip,from_base,count,base_vine,x1,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,1583,2013,1583x2013,Vitis_acerifolia,10,8,17,8x1583,621.386222,...,-740.348327,491.431551,-1184.429944,-422.381192,-450.863223,-349.951396,-804.028509,-696.881267,-680.636268,-1481.073793
1,10x237621,237621,2013,237621x2013,Vitis_aestivalis,10,6,15,6x237621,590.089436,...,-590.009595,549.499758,-1083.626071,-347.969251,-652.867385,-330.876278,-953.816805,-623.349414,-804.172437,-1636.908782
2,10x313922,313922,2013,313922x2013,Vitis_riparia,10,2,11,2x313922,624.843279,...,-754.952214,67.117755,-907.840317,-370.003450,-406.661820,-375.594704,-882.403842,-579.516907,-1200.748501,-1268.151490
3,10x318684,318684,2013,318684x2013,Vitis_acerifolia,10,2,11,2x318684,653.019738,...,-606.252556,340.093733,-893.319459,-103.861178,-511.703252,-348.144917,-916.420517,-704.653492,-1112.899238,-1378.834754
4,10x483138,483138,2013,483138x2013,Vitis_aestivalis,10,4,13,4x483138,518.066503,...,-622.976929,513.871339,-1241.950482,-123.720425,-40.123246,-191.404554,-678.779259,-795.380769,-942.817307,-1658.064377

In [35]:
# drop labels and rename class column
# using base_vine or tip_vine as the unique identifier for all samples
# prediction of species
species = base.copy()
species.drop(labels=['vine','year','vine_year','from_tip','from_base','count','tip_vine'],axis=1,inplace=True)
species.rename(columns={'species':'Class'},inplace=True)

# prediction of year
year = base.copy()
year.drop(labels=['vine','vine_year','species','from_tip','from_base','count','tip_vine'],axis=1,inplace=True)
year.rename(columns={'year':'Class'},inplace=True)

# prediction of node from base 
nodeBase = base.copy()
nodeBase.drop(labels=['vine','year','vine_year','species','from_tip','count','tip_vine'],axis=1,inplace=True)
nodeBase.rename(columns={'from_base':'Class'},inplace=True)

# prediction of node from tip
nodeTip = tips.copy()
nodeTip.drop(labels=['vine','year','vine_year','species','from_base','count','base_vine'],axis=1,inplace=True)
nodeTip.rename(columns={'from_tip':'Class'},inplace=True)

In [28]:
species.head()

,base_vine,Class,x1,y1,x2,y2,x3,y3,x4,y4,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,Vitis_acerifolia,579.014742,49.669286,564.117010,34.562869,586.781135,-8.117120,606.032488,-52.232172,...,-773.417167,530.360659,-1338.595312,-296.648911,-788.502868,-421.580330,-878.484789,-733.599371,-608.863391,-1612.438872
1,10x237621,Vitis_aestivalis,622.384266,158.865807,605.478280,137.443677,614.666475,111.062108,642.965277,89.000383,...,-725.211055,343.277655,-1028.649169,-398.067197,-729.232075,-398.355997,-911.901514,-677.709890,-1157.567630,-1652.086177
2,10x313922,Vitis_riparia,584.824913,207.115491,569.123583,164.040784,616.675270,113.001928,677.797976,66.534166,...,-589.139358,331.309077,-1035.774029,-448.443256,-715.676977,-300.604021,-865.491969,-611.708338,-1379.906517,-1614.081403
3,10x318684,Vitis_acerifolia,585.609852,216.778212,568.549214,174.651328,581.563425,114.867125,639.639037,60.326687,...,-717.318142,274.452196,-1178.749422,-518.663464,-794.905709,-317.480363,-897.419201,-587.381767,-1143.685860,-1598.494304
4,10x483138,Vitis_aestivalis,530.039098,111.300539,491.118785,77.735749,486.645484,20.775763,554.143172,-18.328012,...,-665.639109,478.490939,-1140.663125,-310.663543,-593.900401,-346.297023,-873.354059,-561.588170,-930.520913,-1909.580628

In [29]:
year.head()

,base_vine,Class,x1,y1,x2,y2,x3,y3,x4,y4,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,2013,579.014742,49.669286,564.117010,34.562869,586.781135,-8.117120,606.032488,-52.232172,...,-773.417167,530.360659,-1338.595312,-296.648911,-788.502868,-421.580330,-878.484789,-733.599371,-608.863391,-1612.438872
1,10x237621,2013,622.384266,158.865807,605.478280,137.443677,614.666475,111.062108,642.965277,89.000383,...,-725.211055,343.277655,-1028.649169,-398.067197,-729.232075,-398.355997,-911.901514,-677.709890,-1157.567630,-1652.086177
2,10x313922,2013,584.824913,207.115491,569.123583,164.040784,616.675270,113.001928,677.797976,66.534166,...,-589.139358,331.309077,-1035.774029,-448.443256,-715.676977,-300.604021,-865.491969,-611.708338,-1379.906517,-1614.081403
3,10x318684,2013,585.609852,216.778212,568.549214,174.651328,581.563425,114.867125,639.639037,60.326687,...,-717.318142,274.452196,-1178.749422,-518.663464,-794.905709,-317.480363,-897.419201,-587.381767,-1143.685860,-1598.494304
4,10x483138,2013,530.039098,111.300539,491.118785,77.735749,486.645484,20.775763,554.143172,-18.328012,...,-665.639109,478.490939,-1140.663125,-310.663543,-593.900401,-346.297023,-873.354059,-561.588170,-930.520913,-1909.580628

In [30]:
nodeBase.head()

,base_vine,Class,x1,y1,x2,y2,x3,y3,x4,y4,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,10,579.014742,49.669286,564.117010,34.562869,586.781135,-8.117120,606.032488,-52.232172,...,-773.417167,530.360659,-1338.595312,-296.648911,-788.502868,-421.580330,-878.484789,-733.599371,-608.863391,-1612.438872
1,10x237621,10,622.384266,158.865807,605.478280,137.443677,614.666475,111.062108,642.965277,89.000383,...,-725.211055,343.277655,-1028.649169,-398.067197,-729.232075,-398.355997,-911.901514,-677.709890,-1157.567630,-1652.086177
2,10x313922,10,584.824913,207.115491,569.123583,164.040784,616.675270,113.001928,677.797976,66.534166,...,-589.139358,331.309077,-1035.774029,-448.443256,-715.676977,-300.604021,-865.491969,-611.708338,-1379.906517,-1614.081403
3,10x318684,10,585.609852,216.778212,568.549214,174.651328,581.563425,114.867125,639.639037,60.326687,...,-717.318142,274.452196,-1178.749422,-518.663464,-794.905709,-317.480363,-897.419201,-587.381767,-1143.685860,-1598.494304
4,10x483138,10,530.039098,111.300539,491.118785,77.735749,486.645484,20.775763,554.143172,-18.328012,...,-665.639109,478.490939,-1140.663125,-310.663543,-593.900401,-346.297023,-873.354059,-561.588170,-930.520913,-1909.580628

In [31]:
nodeTip.head()

,tip_vine,Class,x1,y1,x2,y2,x3,y3,x4,y4,...,x17,y17,x18,y18,x19,y19,x20,y20,x21,y21
0,10x1583,10,621.386222,94.682669,605.986323,81.208156,604.315332,48.649760,620.682669,22.889316,...,-740.348327,491.431551,-1184.429944,-422.381192,-450.863223,-349.951396,-804.028509,-696.881267,-680.636268,-1481.073793
1,10x237621,10,590.089436,117.012326,572.276478,97.021022,572.542469,67.896799,610.793236,47.417902,...,-590.009595,549.499758,-1083.626071,-347.969251,-652.867385,-330.876278,-953.816805,-623.349414,-804.172437,-1636.908782
2,10x313922,10,624.843279,221.347473,592.870328,201.963520,601.474604,167.574537,645.270225,150.375805,...,-754.952214,67.117755,-907.840317,-370.003450,-406.661820,-375.594704,-882.403842,-579.516907,-1200.748501,-1268.151490
3,10x318684,10,653.019738,214.465237,615.891961,197.952955,652.541130,139.902169,705.061280,93.712155,...,-606.252556,340.093733,-893.319459,-103.861178,-511.703252,-348.144917,-916.420517,-704.653492,-1112.899238,-1378.834754
4,10x483138,10,518.066503,118.979448,475.634761,112.587034,541.767500,58.250997,599.877148,27.315493,...,-622.976929,513.871339,-1241.950482,-123.720425,-40.123246,-191.404554,-678.779259,-795.380769,-942.817307,-1658.064377

In [36]:
# write out the files
species.to_csv('species_prediction_dataset.csv',index=False)
year.to_csv('year_prediction_dataset.csv',index=False)
nodeBase.to_csv('nodes_from_base_prediction_dataset.csv',index=False)
nodeTip.to_csv('nodes_from_trip_prediction_dataset.csv',index=False)